$b: '.inline-svg';

#{$b} {
  @include aspect-ratio();
  position: relative;
  display: block;
  width: 100%;

  @at-root {
    span#{&} {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &[data-dir=up] svg {
    transform: rotate(0);
  }

  &[data-dir=right] svg {
    transform: rotate(90deg);
  }

  &[data-dir=down] svg {
    transform: rotate(180deg);
  }

  &[data-dir=left] svg {
    transform: rotate(270deg);
  }

  &[data-flip=horizontal] svg {
    transform: scale(-1) rotateX(180deg);
  }

  &[data-flip=vertical] svg {
    transform: scale(-1) rotateY(180deg);
  }

  svg {
    @include fill-abs();
    transform-origin: 50% 50%;
  }

  &-behance {
    @include aspect-ratio(16, 16)
  }

  &-rotate_device {
    @include aspect-ratio(45, 45)
  }

  &-logo {
    @include aspect-ratio(254, 21)
  }

  &-search {
    @include aspect-ratio(14, 14)
  }

  &-cart {
    @include aspect-ratio(14, 14)
  }

  &-line {
    @include aspect-ratio(353, 476)
  }

  &-polygon-arrow {
    @include aspect-ratio(80, 70)
  }

  &-polygon-arrow {
    @include aspect-ratio(199, 183)
  }
}
