<section class="s-chain js-scene-hover">
    <div class="s-chain__container l-outer-width l-inner-padding">
        <div class="s-chain__preview js-scene">
            <div class="js-lazy-bg s-chain__preview-img" data-depth="0.1" data-background-image="img/chain.png"></div>
            <div class="s-chain__preview-bg" data-depth="0.3"></div>
        </div>
        <div class="s-chain__info">
            <h2 class="s-chain__title g-font-alt">подвески</h2>
            <div class="s-chain__action action">
                {{ inc.inlineSvg('polygon-arrow-big') }}
            </div>
        </div>
        <div class="s-chain__decor">
            <div class="js-lazy-bg s-chain__decor-img" data-depth="0.1" data-background-image="img/chain-2.png">
                <img class="s-chain__decor-circle js-lazy-img" src="{{ inc.pixel }}" data-src="img/logo-circle.png" alt="">
            </div>
        </div>
    </div>
</section>
