<section class="s-ear">
    <div class="s-ear__container l-outer-width l-inner-padding">
        <div class="s-ear__decor js-scene">
            <div class="js-lazy-bg s-ear__decor-img" data-depth="0.1" data-background-image="img/ear-2.png">
            </div>
        </div>
        <div class="s-ear__info">
            <h2 class="s-ear__title g-font-alt">серьги</h2>
            <div class="s-ear__action action">
                {{ inc.inlineSvg('polygon-arrow-big') }}
            </div>
        </div>
        <div class="s-ear__preview js-scene">
            <div class="js-lazy-bg s-ear__preview-img" data-depth="0.1" data-background-image="img/ear.png"></div>
            <div class="s-ear__preview-bg" data-depth="0.3"></div>
        </div>
    </div>
</section>
