<div class="s-hero">
    <div class="s-hero__container l-outer-width l-inner-padding">
        <div class="s-hero__scene js-scene">
            <div class="s-hero__scene-title g-font-alt" data-depth="0.1">ювелирные<br>украшения<br>с&nbsp;любовью</div>
            <div class="s-hero__scene-main" data-depth="0.2">
                <img class="js-lazy-img" src="{{ inc.pixel }}" data-src="img/hero-scene/main.png" alt="">
            </div>
            <div class="s-hero__scene-line" data-depth="0.3">
                {{ inc.inlineSvg('line') }}
            </div>
            <div class="s-hero__scene-logo" data-depth="0.4">
                <img class="js-lazy-img" src="{{ inc.pixel }}" data-src="img/hero-scene/logo.png" alt="">
            </div>
        </div>
        <div class="s-hero__bg">
            <div class="js-lazy-bg s-hero__bg-img" data-background-image="img/main.png"></div>
            <a href="#" class="s-hero__action">
                <span class="s-hero__action-text">перейти в каталог</span>
                <span class="s-hero__action-icon">
                    {{ inc.inlineSvg('polygon-arrow') }}
                </span>
            </a>
        </div>
    </div>
</div>
