<section class="s-rings">
    <div class="s-rings__container l-outer-width l-inner-padding">
        <div class="s-rings__preview js-scene">
            <div class="js-lazy-bg s-rings__preview-img" data-depth="0.1" data-background-image="img/rings.png"></div>
            <div class="s-rings__preview-bg" data-depth="0.3"></div>
        </div>
        <div class="s-rings__info">
            <h2 class="s-rings__title g-font-alt">кольца</h2>
            <div class="s-rings__action action">
                {{ inc.inlineSvg('polygon-arrow-big') }}
            </div>
        </div>
        <div class="s-rings__decor">
            <div class="js-lazy-bg s-rings__decor-img" data-depth="0.1" data-background-image="img/rings-2.png">
                <img class="s-rings__decor-circle js-lazy-img" src="{{ inc.pixel }}" data-src="img/logo-circle.png" alt="">
            </div>
        </div>
    </div>
</section>
